body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.title {
  font-family: 'Gill Sans', sans-serif;
  padding-top: 20px;
  display: flex;
  -webkit-animation: puff-in-center 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: puff-in-center 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  justify-content: space-between;
}

.title p {
  text-align: center;
}

.allTop {
  background-color: blanchedalmond;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

.positionBox {
  padding: 10px;
  margin: 10px;
  align-content: flex-start;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #eee;
  width: 250px;
  text-align: left;
}
.bothTeamsContainer {
  display: flex;
  justify-content: center;
}
.teamContainer {
  padding: 25px;
  margin: 25px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.player {
  display: block;
  text-align: left;
}

.player a {
  color: black;
  text-decoration: none;
}

.player :hover {
  /* text-decoration: underline; */
  opacity: 0.6;
}
.playerMatch {
  font-weight: 800;
}

.playerNoMatch {
  opacity: 0.1;
}

.MuiInputBase-root {
  background-color: white !important;
}

@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
